<div class="hero">
  <%= image_tag "sea-windy.jpg", class: 'hero-image' %>
  <div class="hero-content">
    <header>
      <h1 class="text-pop">Teams</h1>
    </header>
    <div class="hero-body">
      <h4 class="text-light text-center">Your new favorite team workspace.</h4>
      <br>
      <div class="f-row responsive">
        <form>
          <button class="btn-pop" type="button" id="get-started-button-home">Get Started</button>
          <button class="btn-pop" type="button" id="learn-more-button-home">Learn More</button>
        </form>
      </div>
    </div>
  </div>
</div>
