<li class="f-row responsive message-row">
  <div class="f-col-3 bg-pop text-light current-user-message-col">
    <h4><%= @message.user.username %></h4>
    <p><%= @message.content %></p>
  </div>
</li>
