<h2><i><%= @channel.name %></i></h2>
<div class="messages-section" id="messages-section">
  <div class="messages-list" id="messages-list">
  </div>
</div>
<%= render partial: 'messages/form', locals: {message: @message, channel: @channel} %>
